# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Capture dumps
mitm_dump/
